.rich-fileupload-toolbar-decor {
    background-color: #ffffff;
    border-bottom: 0px solid #c4c0c9;
    border-left: 0px solid #fff;
    border-top: 0px solid #fff;
    padding: 0px;
    width: 100%;
}

.rich-fileupload-list-decor {
    background-color: #fff;
    border: 0px solid #c4c0c9;
	height: 0px;
}

.rich-fileupload-button-border {
    border: 1px solid #c4c0c9;
    margin: 2px;
	float:left;
	margin-left:79px;
	margin-top:-20px;
}

.rich-fileupload-table-td {
    border-bottom: 0px solid;
    white-space: pre-line;
}

.rich-fileupload-name {
    height: 58px;
    padding: -1px 9px;
    width: 100%;
    margin-bottom: 20px;
    float: left;
}

.nonsubmitLink {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    cursor: default;
}

.rich-fileupload-button-border {
    border: 1px solid #c4c0c9;
    float: left;
    margin: -20px -502px 2px 108px;
}
.errorMsgImport {
    background: url("../images/alert.gif") no-repeat scroll left center #ffe0e0;
    color: red;
    display: block;
    float: left;
    line-height: 2em;
    margin: 10px 0;
    padding-left: 27px;
    text-align: left;
    width: 96%;
}
