@charset "utf-8";
/* CSS Document */

.forgotPswrd
{
	color: #F2F2F2;
    font-size: 11px !important;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline !important;
}

* 	{
	margin:0; 
	padding:0
}
.clear{
	clear:both;
}

html, body {
	font-family:Verdana;
	height:100%;
	overflow:inherit;	
}
a img{
	border:0;
}
a:link, a:visited{
	color: #FFF;
	text-decoration:none !important;
	font-size: 10px !important;
}
a:hover{
	color: #79af5b;
}
p {
    padding: 10px 0;
    line-height: 1.6em;
}

body {
	background-color: #398684;
	padding: 0;
	font-family: Verdana;
	margin: 0px auto;
	color: #333;
	font-size: 12px;
}

/*
-----------------------------------------------
GLOBAL HEADER
*/

#global-header {
	background-color: #0B486B;
    height: 44px;
    margin: 0 auto;
    width: 100%;
    min-width: 1028px;
}

#global-header-logoPearson {
	background-image: url(../images/logoPearsonTransparent.png);
	float: left;
	width:114px;
	height:18px;
	margin-top: 15px;
	margin-left: 15px;
}
#global-header-logoStrapLine {
	background-image: url(../images/logoStraplineTransparent.png);
	float: right;
	width:163px;
	height:10px;
	margin-top: 20px;
	margin-right: 15px;
}
/*
-----------------------------------------------
END GLOBAL HEADER
*/




/*
-----------------------------------------------
MAIN HEADER
*/
#separator-top{
	height: 18px;
	width: 990px;
	margin: 30px auto 0px;
	background-image: url(../images/topBarRpt.png);
	background-repeat: repeat-x;
	position:relative;
	top:-86px;
	z-index:4000;
}
#header-wrap {
	height: 350px;
	width: 990px;
	margin: -100px auto 0px;
	background-color: #FFF;
	position:relative;
	z-index:-1;
}

/*
-----------------------------------------------
END MAIN HEADER
*/




/*
-----------------------------------------------
LOGIN BLOCK
*/
#login-container {
	height: 55px;
	width: 990px;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}

#login-block {
	width:384px;
	height: auto;
	float:right;
	background-image: url(../images/loginbg.png);
	background-repeat: no-repeat;
	background-position : left bottom;
	position:relative;
	z-index:2000;
	padding-top: 20px;
	padding-left: 20px;
	display: block;
	
}
.loginInputBox {
display:block;
float:left;
padding : 2px 0 0 0px;
margin : 0 5px 0 0px;
/* height : 27px;
height : 20px !important; */
height : 20px;
position:relative;
top:-1px;
width:110px;
}
html:not([dummy]) .loginInputBox {
	height : 27px;
}

#buttonSubmit{

	width:54px;
	height:25px;
}
#buttonPassword{

	width:54px;
	height:25px;
}

#lblusername {
color:#CCCCCC;
display:block;
float:left;
font-size:x-small;
line-height:2px;
position:relative;
text-align:left;
width:100%;
}

#lblpassword{
	font-size: x-small;
	color: #CCC;
	position: relative;
	right:-65px;
	line-height: 2px;
}
.lblforgot {
color:#FFFFFF;
display:block;
float:left;
font-size:x-small;
*height : 25px !important;
height:15px;
left:115px;

padding-bottom:3px;
padding-left:0;
padding-right:0;
padding-top:1px;
position:relative;
width:250px;
}

.lblforgot a:link{
	color: #FFF;
	text-decoration:none;
}

.lblforgot a:active{
	color: #FFF;
	text-decoration:none;
}
.lblforgot a:visited{
	color: #FFF;
	text-decoration:none;
}
.lblforgot a:hover{
	color: #79af5b;
	text-decoration:none;
}



.button-wrap{
	margin:2px 0px 0px -5px;
	float:left;
}
div .button-wrap .button .left,div .button-wrap .button .saveleft{
	height:26px !important;
}

.borderNone{
	border:0px none;
}
.clearfix {
	display: inline-block;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.success-msg-on-login {
	color: greenyellow !important;
	}

.error-msg-on-login {
	background-image:url(../images/alert.gif);
background-position:left center;
background-repeat:no-repeat;
color: red !important;
float:left;
margin-bottom:2px;
margin-left:0;
margin-right:0;
margin-top:2px;
padding-left:30px;
	}
.error-msg-on-login span {
	font-size: 10px;
	}
.error-msg {
	color: red;
	float: left;
	margin: 2px 0px 2px 0px;
}

.width97p{
	width : 90% !important;
}

/*
-----------------------------------------------
END LOGIN BLOCK
*/



/*
-----------------------------------------------
CONTENT BLOCK
*/
#content-wrap {
	height: 290px;
	width: 990px;
	margin: 0px auto;
	background-color: #FFF;

}
.box {
	padding: 10px 0 45px 0;
	font-size: 14px;
	text-align: center;
}
#content1 {
    float: left;
    width: 221px;
    padding: 8px 35px 0 20px;
}

#content1 h2 {
    font: 2em "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #3C2700;
	text-transform:uppercase;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #F47D20;
}

#content1 h3 {
    font: 1.33em "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content2 {
    float: left;
    width: 221px;
    padding: 8px 35px 0 20px;
}

#content2 h2 {
    font: 2em "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #3C2700;
	text-transform:uppercase;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #205CAA;
}

#content2 h3 {
    font: 1.33em "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#content3 {
    float: left;
    width: 400px;
    padding: 8px 0px 0 20px;
}

#content3 h2 {
    font: 2em "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #3C2700;
	text-transform:uppercase;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #F47D20;
}

#content3 h3 {
    font: 1.33em "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#separator-bottom{
	background-image:url(../images/title.jpg);
	background-color:#79af5b;
	background-position : left top;
	height: 60px;
	width: 990px;
	margin: 0px auto;
}

.assessment_status{
	margin-top:0px;
	color: #427100;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
}
/*
-----------------------------------------------
END CONTENT BLOCK
*/



/*
-----------------------------------------------
FOOTER BLOCK
*/
#footer{
	background-color: #0B486B;
    float: left;
    height: auto;
    margin: 10px auto 0;
    padding: 0 0 10px;
    position: relative;
    width: 100%;
    min-width: 1028px;
}
#footer a{
	font-size: 10px;
	color : #ffffff !important;
	}
#footer p{
	margin: -25px 0px 0px 0px;
}

#footer img#pearson{
	float:left;
}

#copyright {
	float:left;
	margin-top:16px;
	margin-left:20px;
}
#copyrightList li{
	list-style: none;
	display: inline;
	padding-right: 10px;
}

#separator-footer{
	background:#79af5b;
	height: 9px;
	width: 990px;
	margin: 0px auto 0px;
}

.login-msg-box {
	width: 300px;
}
.login-msg-box ul {list-style : none; font-size : 11px; line-height: 18px;}
/*
-----------------------------------------------
END FOOTER BLOCK
*/





/* ------------------------------------ ****************** ---------------------------- */

.newsSeperator {
border : none; color: transparent; float: left; width : 70%; margin-left : 10px; height : 20px;
background: url("../images/dot_separator.png") repeat-x 0px 18px;
}

#global-header-logoPearson 
{
    background-image: url("../images/logoPearsonTransparent.png");
    float: left;
    height: 18px;
    margin-left: 15px;
    margin-top: 15px;
    width: 114px;
}

#global-header-logoStrapLine 
{
    background-image: url("../images/logoStraplineTransparent.png");
    float: right;
    height: 10px;
    margin-right: 15px;
    margin-top: 20px;
    width: 163px;
}

#global-h-center 
{
    margin: 0 auto;
    width: 990px;
}


.header
{
	background:#0b486b;
	Width:100%;
	Height:44px;
	margin:5px;
}

.sliderPanel
{
	font-famil:verdana";
	display:block;
	Background:#398684;
	Margin:0px auto;
	Width:990px;
	Height:auto;
}

.leftDiv
{
	float: left;
    margin-top: 30px;
    width: 45%;
}

.logoDiv{
	margin-left: 135px;
}

.rightDiv
{
	float: left;
    /*margin-right: 135px;*/
    margin-top: 30px;
    width: 55%;
}

.class3
{
	display:block;
	Font-family: Verdana;
	Font-size: 24px;
	Font-style: Italic
	Color: #ffffff;
	Padding-left: 12px;

}

.centerHeader
{
	Font-family: Verdana;
	color:white;
	display:block;
	Background: #ed6b06;
	Width: 924px;
	Height: 48px;
	margin-top:10px;

}

.footereg
{
	color: #F2F2F2;
    display: block;
    float: left;
    font-family: verdana;
    font-size: 16pt;
    font-style: italic;
    height: auto;
    width: 635px;
    text-align: center;
}

.loginInputs
{
	display:block;
	Background: #fbf5ea;
    padding: 20px;
	Width:535px;
	Height:483px;
	float:left;
	
}

.footer
{
	Background: #398684
	Margin: 0px auto
}

.image
{
	display:block;
	float:left;
	margin: 10px;
}

.newsDiv{
	float: left;
    height: 145px;
    width: 640px;
}

/*#footer 
{
    height: 50px;
    margin: 0 auto;
    padding: 0 20px 20px;
    position: relative;
    width: 990px;
}*/

#copyright 
{
    background-color: #0B486B;
    float: none;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 990px;
}

element.style 
{
    float: right;
    height: 100%;
    text-align: center;
    vertical-align: middle;
	
}


.class11
{
	text-align:left;
	Font-family:Verdana;
	Font-style: Italic;
	Padding-top: 20px;
	Padding-bottom: 20px;
	color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    line-height: 10px;
	margin-left:12px;
}

#footer 
img#pearson 
{
    float: left;
}

img 
{
    border: medium none;
}

.formElementPair
{
	display: table;
    font-size: 12px;
    margin: 7px 0 0px 0;
    min-height: 20px;
    padding: 0 0 0 0;
    width: 100%;
}

.formElementLabel
{
	color: #827C7C;
    display: block;
    float: left;
    margin: 0 0 0 0;
    min-height: 15px;
    text-align: right;
    width: 15%;
}

.formElementInput
{
	display: block;
    float: left;
    margin: 0 0 0 0;
    min-height: 15px;
    padding: 0 0 0 2%;
    text-align: left;
    width: 60%;
}

.loginElementPair
{
	display: table;
    font-size: 12px;
    min-height: 20px;
    padding: 7px 0;
    width: 100%;
}

.loginElementLabel
{
	color: #F2F2F2;
    display: block;
    float: left;
    font-family: verdana;
    font-size: 12pt;
    margin-left: 110px;
    min-height: 15px;
    text-align: left;
    width: 40%;
}

.loginElementInput
{
	display: block;
    float: right;
    margin: 0 0 0 0;
    min-height: 15px;
    padding: 0 0 0 2%;
    text-align: left;
    width: 435px;
}

.rememberLocation
{
	color: #F2F2F2;
    font-family: verdana;
    font-size: 12pt;
    padding-left: 5px;
}

.dropDownMenu
{
	width:136px;
}

div.basic-button .button 
{
    -moz-background-inline-policy: continuous;
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 20px;
}

div .basic-button .button .left 
{
    -moz-background-inline-policy: continuous;
    background: url("command-button-left.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #437001;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 16pt;
    padding: 2px 5px 5px 10px;
}

.saveright
{
	-moz-background-inline-policy: continuous;
    background: url("command-button-right.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #1F6B8B;
    float: left;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 16pt;
    width: 10px;
}

#footer a 
{
    color: #FFFFFF !important;
    font-size: 10px;
}

#footer p 
{
    margin: -25px 0 0;
}

.footerText 
{
    color: #F2F2F2;
    float: left;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

p
{
    line-height: 1.6em;
    padding: 10px 0;
}

#footer p 
{
    margin: -25px 0 0;
}

.copyrightText
{
	color: #F2F2F2;
    float: left;
    font-family: verdana;
    font-size: 9pt;
    line-height: 15px;
    margin-left: 10px !important;
    margin-top: 0 !important;
    padding: 5px 0;
    width: 975px;
    text-align: justify;
}

.footerWarningText 
{
    color: #F2F2F2;
    float: left;
    font-family: verdana;
    font-size: 9pt;
    line-height: 15px;
    margin-left: 10px !important;
    margin-top: 0 !important;
    padding: 5px 0;
    width: 975px;
    text-align: justify;    
}

.cookiePolicyText
{
    color: #F2F2F2;
    float: left;
    font-family: verdana;
    font-size: 9pt;
    line-height: 15px;
    margin-left: 10px !important;
    margin-top: 0 !important;
    padding: 5px 0;
    width: 975px;
    text-align: justify;
}

p 
{
    line-height: 1.6em;
    padding: 10px 0;
}

.type
{
	color:#0b486b;
	overflow-y:scroll;
	overflow-x:hidden;
	height: 100px;
	font-size:12px;
}

.type ul
{
	height: 100px;
}

.type ul li p
{
	line-height: 1em;
    padding: 5px 0;
}

.type ul li p:hover
{
	color: red;
}

.alerts {
	color: #000000;
    float: left;
    font-family: verdana;
    font-size: 12pt;
    margin-left: 0 !important;
    padding-left: 5px;
    padding-top: 5px;
    width: 220px;
}

.alertDiv{
	background-color: #EFEFC2;
    display: block;
    float: right;
    height: auto;
    margin-top: 10px;
    overflow-y: auto;
    width: 295px;
}

.loginButtons{
	float: right;
    margin-right: 135px;
    position: relative;
    top: 100px;
    width: auto;
}

.readMore{
	font-family: verdana ! important;
}

.readMore:hover{
	text-decoration: underline !important;
}

.moreNews{
	padding-left: 10px;
    padding-top: 10px;
}

#moreNewsModalHeader
{
	background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    font-family: verdana;
    font-size: 14pt;
    font-weight: normal;
    margin-bottom: -5px;
    margin-left: 6px;
    margin-top: 5px;
}

#moreNewsModalContentDiv
{
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

#moreNewsModalShadowDiv
{
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

.slideshow{
	height: 170px;
    width: 330px;
    overflow: hidden;
}

.slideshow img{
	left: -1px;
    position: relative;
    top: -20px;
    width: 332px;
}

.dateDiv{
	color: #666666;
    float: left;
    font-family: verdana;
    font-size: 12pt;
    width: 135px;
    padding-right: 10px;
}

.msgDiv{
	float: left;
    width: 360px;
}

.news-separator{
	border-bottom: 1px solid #E2E2E2;
    float: left;
    margin: 15px 0;
    width: 100%;
}

.readMoreNews{
	left: -12px;
    position: relative;
    text-align: center;
    top: -15px;
    width: 100%;
}

.buildVersion{
	color: #F2F2F2;
    float: right;
    font-family: verdana;
    font-size: 9pt;
    margin: 10px 5px 0 0 !important;
    padding: 0;
}

#moreNewsModalContentTable .rich-mpnl-body{
	padding-left: 0;
	padding-right: 0;
}