
/* RESET */
html,body,div,dl,dt,dd,pre,form,p,blockquote,fieldset,input {
	margin: 0;
	padding: 0;
}

html,body,div,dl,dt,dd,pre,form,p,blockquote,fieldset,input {
	margin: 0;
	padding: 0;
}

* {
	margin:0px;
	padding:0px;
}
html, body {
	height:100%;
	overflow:inherit;
	font-family:Verdana;	
}
html{
	*overflow: auto;
}
body {
	
	/* theme properties */
	background-color:#3B8686;
	background-image:url(../images/layout/top_strip.png);
	background-repeat:repeat-x;
	/* theme properties ends*/
	
	
	text-align:center;
}

/*************************************** Button Fix for IE *********************************************************/
button, input[type="reset"], input[type="button"], input[type="submit"]  {
  width: auto;
  overflow: visible;
}

/* OUTER WRAPPER */
#outer {
	display:table;
	margin:0px auto;
	width:990px;		
	padding-bottom:10px;
}

.top_brand {
	/* theme properties */
background-image:url(../images/layout/logoPearsonTransparent.png);
background-position: 10px center;
background-repeat:no-repeat;
height:30px;
/* theme properties ends*/
}

.top_brand_right {
	/* theme properties */
background-image:url(../images/layout/logoStraplineTransparent.png);
background-position: right center;
background-repeat:no-repeat;
height: 30px;
margin-right: 15px;
/* theme properties ends*/
}

/* MAIN WRAPPER */
#main {
	display:table;
	background-color:transparent;
	text-align:left;
	width:990px;
}

/* HEADER */
#header {
	background-attachment:scroll;
	background-color:transparent;
	background-image:none;
	background-position:0 0;
	background-repeat:repeat;
	display:table;
	min-height:50px;
	width:990px;
	padding-bottom: 5px;
}
#header-logo {
	background-attachment:scroll;
	background-color:transparent;
/*	background-image:url(../images/layout/qglobal_logo.png); */
	background-position:35px 16px;
	background-repeat:no-repeat;
	cursor:pointer;
	float:left;
	min-height:50px;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	width:150px;
}
#header-logo h4 {   /* not used yet */
	display:none;
	margin:20px 0px 0px 4px;
	font-family:Verdana;
	font-style:italic;
	font-size:12px;
	font-weight:bold;
	color:#959595;
}

#header-nav-left {
	float:left;
	padding-top : 15px;
	min-height : 30px;
	font-size:12px;
	width : 150px;
	color : #ffffff;
	display: block;		
	text-align: left;
	}
	
#header-nav-left a {
	color : #ffffff;
	font-size: 10px;
	padding-top: 5px;
	
	}

#header-nav {
	float:left;
	padding-top : 15px;
	min-height : 30px;
	font-size:12px;
	width : 990px;
	color : #ffffff;
	display: block;	
}
#header-nav a:link {
	font-family:Verdana;
	font-size:10px !important;
	font-weight:normal;
	color:#ffffff; 
	text-decoration:none;
}
#header-nav a:visited {
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
	color:#ffffff;
}
#header-nav a:hover {
	font-family:Verdana;
	font-weight:normal;
	font-size:10px !important;
	text-decoration:underline;
	color:#ffffff;
}
#header-nav span {
	color: #FFFFFF;
    font-family: verdana;
    font-size: 10px !important;
    padding: 8px 0;
}
a.headerLink:link {
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	color:#ffffff !important;	
}
a.headerLink:link, a.headerLink:visited, a.headerLink:hover {
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	color:#ffffff !important;		
	}

/* END HEADER */

/* PRIMARY TAB BACKGROUND STRIP */

#primaryTabBackground {
display:block;
height:36px;
margin-bottom:0;
margin-left:0;
margin-right:0;
margin-top:0px;
padding-bottom:0;
padding-left:0;
padding-right:0;
padding-top:0;
position:absolute;
width:990px;
z-index:0;
}
.primaryTabBackgroundLeft {
	background: url("../images/layout/main_tab_left.png") 0 0 no-repeat #CCFFCC;
	float: left;
	width: 5px;
	height: 36px;
	z-index: 0;
	margin: 0 0 0 0px;
	padding: 0 0 0 0px;
	}
.primaryTabBackgroundCentre {
	background: url("../images/layout/main_tab_strip.png") 5px 0 repeat-x #CCFFCC;
	float: left;
	width: 980px;
	height: 36px;
	z-index: 0;
	margin: 0 0 0 0px;
	padding: 0 0 0 0px;
	}
.primaryTabBackgroundRight {
	background: url("../images/layout/main_tab_right.png") 0 0 no-repeat #CCFFCC;
	float: right;
	width: 5px;
	height: 36px;
	z-index: 0;
	margin: 0 0 0 0px;
	padding: 0 0 0 0px;
	} 

/* END PRIMARY TAB BACKGROUND STRIP */

/* INDEX */
#signin {
	float:left;
	margin:20px 0px 30px 28px;
	width:315px;
	height:60px;
}
#signin h4 {
	margin:0px;
	padding:0px 0px 0px 5px;
	font-family:Verdana;
	font-size:16px;
	line-height:24px;
}
#signin-inputs {
	
	margin:0px 0px 0px 0px;
}
#signin-inputs input {
	background: transparent url(../images/forms/signin.png) no-repeat;
	margin:0px;
	border:0px;
	padding:6px 0px 0px 8px;
	width:127px;
	height:30px;
	font-family:Verdana;
	font-size:12px;
	color:#959595;
}
#signin #go {
	float:left;
	background:url(../images/buttons/go.png) no-repeat;
	width:36px;
	height:28px;
	cursor:pointer;
}
#signup {
	position:absolute;
	top:0px;
	left:608px;
	background:#f0f4f8 url(../images/buttons/signup.png) no-repeat;
	margin:65px 0px 0px 40px;
	width:150px;
	height:65px;
	z-index:20;
	cursor:pointer;
}
#index-content-box {
	position:fixed;
	top:165px;
	left:240px;
	background:url(../images/layout/index-content-box.png) no-repeat;
	
	width:706px;
	height:449px;
}
#index-content-box #descriptions {
	position:relative;
}
#ribbon-what {
	background:url(../images/layout/ribbon-what.png) no-repeat;
	margin:20px 0px 0px -10px;
}
#ribbon-what p {
	padding:50px;
	font-family:Verdana;
	font-size:14px;
	color:#666;
}
#ribbon-why {
	background:url(../images/layout/ribbon-why.png) no-repeat;
	margin:-30px 0px 0px -10px;
}
#ribbon-why p {
	padding:50px;
	font-family:Verdana;
	font-size:14px;
	color:#666;
}
#ribbon-assessments {
	background:url(../images/layout/ribbon-assessments.png) no-repeat;
	margin:-30px 0px 0px -10px;
}
#ribbon-assessments p {
	padding:50px;
	font-family:Verdana;
	font-size:14px;
	color:#666;
}
/* END INDEX */

/* CONTENT */
#index-content {
	height:370px;
}
#content {
	display:block;
	width:100%;
	padding:3px 0px 0px 0px;
	/*margin-top: -20px; 
*/}
#menu {
	margin:0px 0px 0px 25px;
	display:none;
	/*height:65px;*/
}
#menu h2 {
	margin:17px 12px 0px 25px;
	padding:0px;
	font-family:Verdana;
	font-size:16px;
	/*font-weight:bold;*/
	color:#09658A;
}
#menu .button, #menu .button-active {
	display:table;
	float:left;
	margin:0px 0px 00px 0px;
	background:transparent;
	cursor:pointer;
}
#menu .button .left {
	display:table;
	float:left;
	background:url(../images/buttons/gloablTab_left.png) no-repeat;
	height:44px;
}
#menu .button .right {
	float:left;
	background:url(../images/buttons/gloablTab_right.png) no-repeat;
	width:10px;
	height:44px;
}

#menu .button-active .left {
	display:table;
	float:left;
	background:url(../images/buttons/gloablActiveTab_left.png) no-repeat;
	height:44px;
}

#menu .button-active .left H2 {
	color:#FFF;
}
#menu .button-active .right {
	float:left;
	background:url(../images/buttons/gloablActiveTab_right.png) no-repeat;
	width:10px;height:44px;
}
/* SPACING */
.sandbag-15 {
	float:left;
	width:15px;
	height:10px;
}
.sandbag-70 {
	margin:0px;
	height:70px;
}
.sandbag-5 {
	width:0px;
	height:5px;
}
.vertical-space {
	height:6px;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.float-none {
	float:none;
}
.clear-left {
	clear:left;
}
.clear-right {
	clear:right;
}
.clear-both {
	clear:both;
	line-height: 0px;
	font-size: 0px;
}
.display-none {
	display:none;
}
.margin-top-ten {
	margin-top:10px !important;
}
.margin-top-five {
	margin-top:5px;
}
.margin-bottom-ten {
	margin-bottom:10px !important;
}
.margin-left-twenty {
	margin-left:20px;
}

.margin-left-seven {
	margin-left:7px;
}
.margin-right-neg-five {
	margin-right:-5px;
}
.margin-right-neg-ten {
	margin-right:-10px;
}
/* END SPACING */
div.breadcrumbs {
	/*float:left;*/
	margin:-47px 0px 3px 24px;
	z-index:2;
	position:relative;
	top:68px;
	left:10px;
	display:none;
}
div.breadcrumbs a:link {
	font-family:Verdana;
	font-size:11px;
	text-decoration:underline;
	color:#1c8ab8;
}
div.breadcrumbs a:visited {
	font-family:Verdana;
	font-size:11px;
	text-decoration:underline;
	color:#1c8ab8;
}
div.breadcrumbs a:hover {
	font-family:Verdana;
	font-size:11px;
	text-decoration:underline;
	color:#1e6d8e;
}
div.breadcrumbs span.angle {
	font-family:Verdana;
	font-size:11px;
	color:#959595;
}
div.breadcrumbs span.current {
	font-family:Verdana;
	font-size:11px;
	color:#959595;
}
/* VIEW BY RADIOS */
.view-by {
	clear:both;
	margin:-5px 0px 8px 0px;
}
.view-by input {
	position:relative;
	top:2px;
	margin-left:10px;
}
/* END VIEW BY RADIOS */

div.content-box {
	position:relative;
	float:left;
	margin:0px 0px 10px 10px;
	padding:0px 0px 0px 9px;
	width:930px;
	top:-3px;
}

div.content-box-ribbon-left {
	position:absolute;
	top:30px;
	left:0px;
	background:url(../images/layout/ribbon-gold-small-left.png) no-repeat;
	width:9px;
	height:44px;
}

div.content-box-ribbon-right {
	display:table;
	background:url(../images/layout/ribbon-gold-small-right.png) no-repeat; 
	margin:0px 0px 0px 9px;
	width:280px;
	height:49px;
}

div.content-box-ribbon-right h2 {
	margin:6px 0px -2px 27px;
	padding:0px;
	font-family:Verdana;
	font-size:16px;
	color:#fff;
}
div.content-box-ribbon-right div {
	margin:0px 0px 0px 27px;
	padding:0px;
	font-family:Verdana;
	font-size:11px;
	color:#53431b;
	white-space:nowrap;
}
div.content-box-top {
	display:block;
	background:url(../images/layout/content-box.png) no-repeat;
	width:930px;
	min-height:200px;
}

div.content-box-green-left { 
	position:absolute;
	top:30px;
	left:0px;
	background: url(../img/layout/ribbon-g.png) no-repeat;
	width: 9px;
	height: 44px;
}

div.content-box-green-right {
	display: table;
	background: url(../img/layout/ribbon-h.png) no-repeat;
	margin: 0px 0px 0px 9px;
	width: 280px;
	height: 49px;
}

div.content-box-green-right h2 {
	margin: 6px 0px -2px 27px;
	padding: 0px;
	font-family: Verdana;
	font-size: 16px;
	color: #fff;
}

div.content-box-admin-top {
	display:table;
	/*background:url(../images/layout/content-box.png) no-repeat;*/
	width:930px;
	height:450px;
}

div.content-box-content {
	display:table;
	
	/*
	background:url(../images/layout/content-box-gradient.png) repeat-x;
	*/
	background:#FFF;
	margin:13px 1px 0px 1px;	
	padding:70px 0px 0px 14px;
	width:914px;
}


div.content-box-bottom {
	background:url(../images/layout/content-box-bottom.png) no-repeat; 
	width:930px;
	height:4px;
}

div.content-box-content a.ribbon-box-link:link, div.content-box-content a.ribbon-box-link:visited, div.content-box-content a.ribbon-box-link:hover {
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color:#1E6D8E;
}
div.content-box-content a.ribbon-box-link:hover {
	text-decoration:underline;
	color:#1c8ab8;
}
.progress-graphic {
	position:absolute;
	top:18px;
	left:300px;
}
div.commandbar {
	margin:0px 0px 0px 0px;
	padding:0px;
	height:45px;
}
div.commandbar h5 {
	margin:5px 5px 0px 8px;
	padding:0px;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color:#1f6b8b;
}
div.commandbar h5.dropdownarrow {
	background:url(../images/buttons/command-button-arrow.png) no-repeat;
	background-position:top right;
	padding:0px 14px 0px 0px;
}
div.commandbar .button {
	display:table;
	float:left;
	margin:0px 0px 20px 5px;
	background:transparent;
	cursor:pointer;
}
div.commandbar .button .left {
	display:table;
	float:left;
	background:url(../images/buttons/command-button-left.png) no-repeat;
	height:28px;
}
div.commandbar .button .right {
	float:left;
	background:url(../images/buttons/command-button-right.png) no-repeat;
	width:10px;
	height:28px;
}
/* END CONTENT */

/* HOME */
#home-wrapper {
	display:table;
	float:left;
	width:974px;
	height:100%;
}

.home-wrapper-admin{
	display:table;
	float:left;
	width:974px;
	height:500px;
}
.homebox {
	float:left;
	background:#fff;
	margin:0px 0px 0px 10px;
	border:1px solid #ccc;
	width:650px;
	height:238px;
}
.homeicon {
	float:left;
	margin:0px 0px 0px 10px;
	width:40px;
}
.linkbox {
	background:#e7ecf2;
	margin:0px 0px 0px 0px;
	width:100%;
	height:100%;
	font-size:12px;
	line-height:1.7;
}
.linkbox .links {
	padding:4px;
}
.examinee-home-box {
	height:110px;
}
.assessments-and-batteries {
	height:114px;
}
.score-and-report {
	height:95px;
}
.order-history {
	margin-bottom:10px;
	height:115px;
}
div.home-box {
	position:relative;
	float:left;
	margin:0px 0px 0px 6px;
	padding:0px 0px 0px 9px;
	width:467px;
}
div.home-box-ribbon-left {
	position:absolute;
	top:16px;
	left:0px;
	background:url(../images/layout/ribbon-green-left.png) no-repeat;
	width:9px;
	height:59px;
}

div.greenRibbonLeft
{
	background:url(../images/layout/ribbon-green-left.png) no-repeat;
}

div.home-box-ribbon-right {
	display:table;
	background:url(../images/layout/ribbon-green-right.png) no-repeat; 
	margin:0px 0px 0px 9px;
	width:280px;
	height:64px;
}

div.greenRibbonRight
{
	background:url(../images/layout/ribbon-green-right.png) no-repeat; 
}

div.home-box-ribbon-right h2 {
	margin:16px 0px -2px 27px;
	padding:0px;
	font-family:Verdana;
	font-size:16px;
	color:#fff;
}
div.home-box-ribbon-right div {
	margin:0px 0px 0px 27px;
	padding:0px;
	font-family:Verdana;
	font-size:11px;
	color:#53431b;
	white-space:nowrap;
}
div.home-box-top {
	display:block;
	background:url(../images/layout/home-box.png) no-repeat;
	width : 452px;
}
div.home-box-content {
	display:table;
	background:url(../images/layout/home-box-gradient.png) repeat-x 0 1px;
	margin:4px 1px 0px 1px;	
	padding:0px 0px 0px 0px;
	width : 450px;
	height: 250px;
}
.home-box-content-links {
	padding:0px 0px 0px 24px;
	}
div.home-box-content div {
	margin:80px 0px 0px 0px;
	height:90px;
	line-height:1.8;
}
div.home-box-bottom {
	display : block;
	background:url(../images/layout/home-box-bottom.png) no-repeat; 
	width:452px;
	height:4px;
	margin-bottom: 10px;
	
}

a.ribbon-box-link:link, a.ribbon-box-link:visited, a.ribbon-box-link:hover {
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	text-decoration:underline;
	color:#1c8ab8;
}
a.ribbon-box-link:hover {
	text-decoration:underline;
	color:#1E6D8E;
}
/* END HOME */

/* FOOTER 
#footer {
	display:table;
	/*margin:-5px 0px 0px 0px;
	padding:0px 0px 10px 0px;
	width:100%;
}
/* FOOTER 
#footer-nav {
	float:left;
	padding:0px 12px 0px 52px;
	width:400px;
	font-family:Verdana;
}
#footer-links {
	font-size:10px;
}
#footer-span {
	line-height:1.0;
}

a.actionLink {
	font-size:10px !important;
}

a.footer-link:link {
	font-family:Verdana;
	font-size:9px;
	text-decoration:underline;
	color:#1e6d8e;
}
a.footer-link:visited, a.footer-link:active {
	font-family:Verdana;
	font-size:9px;
	text-decoration:underline;
	color:#1c8ab8;
}
a.footer-link:hover {
	font-family:Verdana !important;
	font-size:9px;
	text-decoration:underline;
	color:#1e6d8e;
}
#footer-nav span {
	padding:0px;
	font-family:Verdana;
	font-size:9px;
	font-weight:normal;
	color:#a6a6a4;
}
#footer #pearson {
	float:right;
	background:url(../images/layout/pearson.png) no-repeat;
	margin:5px 56px 0px 0px;
	width:97px;
	height:28px;
}
/* END FOOTER */


/* FOOTER */
#footer {
	display:table;
	position : relative;
	margin:-5px auto;
	padding:0px 0px 10px 0px;
	width:100%;	
	background-color:#000000;
	height:70px;
}
/* FOOTER */

 /* theme properties */
#indexFooter .footer_left {

background-image:url(../images/layout/footer_left.png);
background-color : #3B8686;
}

#indexFooter .footer_center {
background-image:url(../images/layout/footer_strip.png);
background-color : #3B8686;
}


/* theme properties ends*/

.footer_left {
/* theme properties */
background-image:url(../images/layout/footer_left.png);
background-color : #3B8686;
/* theme properties ends*/

background-repeat:no-repeat;
float:left;
height:75px;
width:7px;
}

.footer_center {
	/* theme properties */
background-image:url(../images/layout/footer_strip.png);
background-color : #3B8686;
/* theme properties ends*/

background-repeat:repeat-x;
float:left;
height:75px;
width:976px;

}

.footer_right {
/* theme properties */
background-image:url(../images/layout/footer_right.png);
background-color : #3B8686;
/* theme properties ends*/

/* background-image:url(../images/layout/footer_right_index.png); << default when no theme >>*/ 
background-repeat:no-repeat;
float:left;
height:75px;
width:7px;
}

.pearson {
	/* theme properties */
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/layout/pearson.png) no-repeat scroll 0 0;
/* theme properties ends*/

float:left;
height:35px;
margin:30px 0 0 9px;
width:69px;
}

a.footer-link:link {
	/* theme properties */
color:#FFFFFF;
/* theme properties ends*/

font-family:Verdana;
font-size:10px;
text-decoration:underline;
}

a.footer-link:visited, a.footer-link:hover, a.footer-link:active {
	/* theme properties */
color:#FFFFFF;
/* theme properties ends*/

font-family:Verdana;
font-size:10px;
text-decoration:underline;
}

.footer-nav {
	float:left;
	font-family:Verdana;
	padding:25px 12px 0 10px;
	width:400px;
}

.footer-nav span {
	/* theme properties */
color:#FFFFFF;
/* theme properties ends*/

font-family:Verdana;
font-size:9px;
font-weight:normal;
padding:0;
}


.footer-links {
	line-height:1.0;
	text-align: left;
}
.footer-span {
	
		/* theme properties */
color:#FFFFFF;
/* theme properties ends*/

	line-height:1.0;
	font-size: 10px;
	margin-top: 3px;
}



div.basic-button-login .button-login {
	display:table;
	float:left;
	margin:0px 0px 0px 5px;
	background:transparent;
	cursor:pointer;
}

div .basic-button-login .button-login .saveleft-login {
	display:table;
	float:left;
	/*background:url(../images/buttons/savecommand-button-left.png) no-repeat;*/
	background:url(../images/buttons/savecommand-button-left.png) no-repeat;
	height:28px;
}

.login-error-message{
	float:right;
	margin-right:120px;
	margin-top:-15px;
	font-size:12px;
	list-style-type:none;
}
.forgotPasswordLink
{
	font-size:10px;	
	position:relative;
	left:4px;
}
#tabsSubMenuContent .rich-tabpanel-content {
border: 0px none;
}

#content .rich-tabpanel {
	margin-left: 0;
	margin-top: 0px;
}

.seaGreen .rich-tabhdr-side-border{
	background: none !important;
}
.seaGreen .rich-tabhdr-side-cell{
	border:0px none !important;
	*position: relative;	
	*top : 2px;
}

.primaryTab{
	font-size: 13px !important;
}

.seaGreen .rich-tab-active{
	border:0px none !important;
	background: url("../images/gloablActiveTab_right2.png") no-repeat right top !important;
	display: block;
	margin-right: -5px;
	padding: 8px 9px 8px 9px;
	*position: relative;
	*right: -4px;
	*margin-bottom : -2px !important;
	font-size:12px;
	font-weight:bold;
	white-space : nowrap;
	height: 12px;
}
.seaGreen .rich-tab-inactive{
	border:0px none !important;
	background: url("../images/gloablTab_right2.png") no-repeat right top !important;
	display: block;
	margin-right: -5px;
	padding: 6px 9px 8px 9px;
	*position: relative;
	*right: -4px;
	cursor: pointer;
	font-size:12px;
	font-weight:bold;
	white-space : nowrap;
	height: 12px;
}

.seaGreen .rich-tab-disabled{
	border:0px none !important;
	background: url("../images/gloablTab_right2.png") no-repeat right top !important;
	display: block;
	margin-right: -5px;
	padding: 6px 9px 8px 9px;
	*position: relative;
	*right: -4px;
	cursor: pointer;
	font-size:12px;
	font-weight:bold;
	height: 12px;
	color: grey;
}
.seaGreen .rich-tabhdr-cell-active .rich-tabhdr-side-cell{
	border:0px none !important;
	background: url("../images/gloablActiveTab_left.png") no-repeat left top !important;
}
.seaGreen .rich-tabhdr-cell-inactive .rich-tabhdr-side-cell{
	border:0px none !important;
	background: url("../images/gloablTab_left.png") no-repeat left top !important;
}

.seaGreen .rich-tabhdr-cell-disabled .rich-tabhdr-side-cell{
	border:0px none !important;
	background: url("../images/gloablTab_left.png") no-repeat left top !important;
}

.seaGreen .rich-tab-bottom-line{
	border-bottom: 0px none;
	padding-left: 12px;
}

.tertiarytabs .rich-tab-bottom-line {
	border-bottom: 1px solid #999999;
	padding-left: 5px;
}
.seaGreen .rich-table-subheader{
	background: #e4e4e4;
}
.seaGreen .rich-table-subheadercell, .seaGreen .rich-table-cell{
	border-right:0px none;
	border-color: #DCDCDC;
	font-size: 12px;
	color : #000000;
	font-family: Verdana;
    white-space:normal;	
}
.seaGreen .rich-table{
	border:1px solid #DCDCDC;
	border-bottom: 0px none;
}

.dataTableSortableHeader {
	text-decoration: none !important;
	font-size: 12px !important;
	color : #000000 !important;
	font-weight: bold !important;
	}







/******************************** Added for UI Change ***********************************************/
.adriftDreams{
	background-color:#3B8686;
}
.adriftDreams #header-nav span{
	/* display:none; */
}
.adriftDreams #header-nav div{
	font-size: 10px;
	font-weight: bold;
}
.adriftDreams #header-nav a:link,.adriftDreams #header-nav a:visited,
.adriftDreams #header-nav a:hover{
	padding-left:4px;
	font-size: 10px;
}
.top_qglobal_left{
	float: left;
	z-index: 4;
	width: 150px;
	padding-top: 5px;
}

.top_qglobal_left a{
	padding-top: 10px;
	color : #ffffff;
	font-size: 11px;
	}

.top_qglobal_right{
	float: right;
	z-index: 4;
	width: 840px;
	text-align: right;
}
.adriftDreams #header-nav .top_qglobal_right .username{
	font-size: 11px;
	font-weight: bold;
	padding:0px 10px;
	display: inline;
}
.adriftDreams #header-nav .language-label{
	padding-right:3px;
	font-size:11px;
	display:inline;
}

.adriftDreams div.content-box {
    float: none;
    margin: 0px auto;
    padding: 0px;
    position: static;
    top: 0px;
    width: 990px;
}
.adriftDreams div.content-box-top {
	width: 990px;
	background: #ffffff;
}
.adriftDreams .content-box-content{
	padding-top: 0px;
	margin:0px;
	padding-left:0px;
	width: 990px;
}
.main_tab {
    background-color: #999999;
    height: 36px;
}
.main_tab_left {
    background-image: url("../images/main_tab_left.png");
    background-repeat: no-repeat;
    float: left;
    height: 36px;
    width: 5px;
}
.main_tab_center {
    background-color: #CCFFCC;
    background-image: url("../images/main_tab_strip.png");
    background-repeat: repeat-x;
    float: left;
    height: 36px;
    width: 980px;
}
.adriftDreams .rich-tab-bottom-line{
	border-bottom: 0px none;
	padding-left: 0px;
}

.main_tab_right {
    background-image: url("../images/main_tab_right.png");
    background-repeat: no-repeat;
    float: left;
    height: 36px;
    width: 5px;
}
.adriftDreams .rich-tabhdr-side-border{
	background: none !important;
}
.adriftDreams .rich-tabhdr-side-cell{
	border:0px none !important;
}
.adriftDreams .rich-tab-active{
	border:0px none !important;
	background: url("../images/gloablActiveTab_right2.png") no-repeat right top !important;
	display: block;
	padding: 6px 10px 8px;
	position: relative;
	right: -4px;
	font-size: 12px;
	font-weight: bold;
}
.adriftDreams .rich-tab-inactive{
	border:0px none !important;
	background: url("../images/gloablTab_right2.png") no-repeat right top !important;
	display: block;
	padding: 6px 10px;
	position: relative;
	right: -4px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;	
}

.adriftDreams .rich-tab-disabled {
	border:0px none !important;
	background: url("../images/gloablTab_right2.png") no-repeat right top !important;
	display: block;
	padding: 6px 10px;
	position: relative;
	right: -4px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;	
	color: #C0C0C0;
}
.adriftDreams .rich-tabhdr-cell-active .rich-tabhdr-side-cell{
	border:0px none !important;
	background: url("../images/gloablActiveTab_left.png") no-repeat left top !important;
}
.adriftDreams .rich-tabhdr-cell-inactive .rich-tabhdr-side-cell{
	border:0px none !important;
	background: url("../images/gloablTab_left.png") no-repeat left top !important;
}

.adriftDreams .rich-tabhdr-cell-disabled .rich-tabhdr-side-cell{
	border:0px none !important;
	background: url("../images/gloablTab_left.png") no-repeat left top !important;
}
.adriftDreams #header {
    height: auto;
}
.adriftDreams #header-logo {
	background-position: 10px 16px;	
}
.adriftDreams .top_brand{
	background-position: 10px center;
}
.adriftDreams .top_brand_right{
	
background-position: right center;

}

.adriftDreams #home-wrapper {
    height: auto;
    width: 990px;
}
.adriftDreams .rich-tabpanel-content{
	border:0px none;
}

.adriftDreams .footer{
	width:990px;
	margin-left: 0px;
}
.adriftDreams .footer_center{
	width:916px;
}
.adriftDreams #indexFooter .footer_left {
	/* theme properties */
	background-image:url(../images/layout/footer_left.png);
	background-color : #3B8686;
	/* theme properties ends*/
	
	background-repeat:no-repeat;
	float:left;
	height:75px;
	width:7px;
}

.adriftDreams #indexFooter .footer_center {
	/* theme properties */
	background-image:url(../images/layout/footer_strip.png);
	background-color : #3B8686;
	/* theme properties ends*/
	
	background-repeat:repeat-x;
	float:left;
	height:75px;
	width:976px;
}

.adriftDreams #indexFooter .footer_right {
	/* theme properties */
	background-image:url(../images/layout/footer_right.png);
	background-color : #3B8686;
	/* theme properties ends*/
	
	background-repeat:no-repeat;
	float:left;
	height:75px;
	width:7px;
}
.adriftDreams #outer{
	padding-bottom:0px; 
}
.adriftDreams .rich-table-subheader{
	background: #e4e4e4;
}
.adriftDreams .rich-table-subheadercell,.adriftDreams .rich-table-cell{
	border-right:0px none;
	border-color: #DCDCDC;
	text-align: left;
}
.adriftDreams .rich-table{
	border:1px solid #DCDCDC;
	border-bottom: 0px none;
}
.adriftDreams .main_tab_gray_left {
    background: url(../images/main_tab_gray_left.png) no-repeat scroll 0 0 #3B8686;
    float: left;
    height: 30px;
    margin-left: 0px;
    width: 5px;
}
.adriftDreams .main_tab_gray_center {
    background: url(../images/main_tab_gray_strip.png) repeat-x scroll 0 0 transparent;
    color: #555555;
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    width:980px;
}
.adriftDreams .main_tab_gray_right {
    background: url(../images/main_tab_gray_right.png) no-repeat scroll 0 0 #3B8686;
    float: left;
    height: 30px;
    width: 5px;
}
.adriftDreams .main_tab_gray_center .backButton{
	color: #437001;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    background: url(../images/arrow-btn-left.gif) no-repeat scroll 0 2px transparent;
    padding-left: 15px;
    margin-left: 10px;
    float: left;
    margin-top: 7px;
    font-size: 12px;
}
.headerTxtStyle{
	font-size: 18px;
	color: #0B486B;
	font-family: verdana;
}
.headerTxtStyleTitle{
	font-size: 15px;
	color: #0B486B;
	font-family: verdana;
	float: left; 
	font-size: 15px; 
	font-weight: bold; 
	margin-left: -17px;
}
span.headerTxtStyle{
	margin: 5px 0px 15px;
}
h2 span.headerTxtStyle{
	margin: 0px;
}
.subTabs .rich-tab-bottom-line {
	border-bottom: 1px solid #999999;
	padding-left: 5px;
}
div.basic-button .button .dropdownButton{
	float:left;
	width:14px;
	height:28px;
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	margin-right:5px;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	line-height: 16pt;
	/* theme properties */
	color:#437001;
	background:transparent url(../images/buttons/button_dropdown.gif) no-repeat scroll 0 0;
	/* theme properties ends*/
}
div.basic-button .button .newdropdownButton {
	
 background: url("../images/dropdown_image.bmp") no-repeat scroll right center transparent;
    border-color: #D8D8D8 #D8D8D8 #D8D8D8 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 2px 1px 0;
    color: #D8D8D8;
    float: left;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    line-height: 16pt;
    margin-right: 2px;
    width: 17px;
	
	}

.commandbar-dropdown-hdr{
	padding: 10px 0px 8px 5px;
}
.listWrap{
	max-height: 150px;
	overflow: auto;
}
.listWrap .commandbar-dropdown-link a:link{
	padding-left: 5px;
	float: left;
    font-size: 12px;
    margin: 0 0 4px;
    text-decoration: none;
    width: auto;
   /* width: 440px;*/
}
.listWrap .commandbar-dropdown-link .actionLink{
	float: right;
    font-size: 11px;
    width: 80px;
    display:none;
}
.listWrap .commandbar-dropdown-link:hover .actionLink{
	float: right;
    font-size: 11px;
    width: 80px;
    display:block;
}

.adriftDreams .rich-panel{
	border: 0px none;
}
.adriftDreams #header-nav select{
	width:140px;
}
.floatLeft{
	float:left !important;
}
.floatRight {
	display:block;
	float:right !important;
	height:auto;
	padding-top: 5px;
	margin-left : 10px;
	text-align:right;
}
.floatNone{
	float: none !important;
}


.seaGreen .languageWrap , .adriftDreams .languageWrap{
	float:right;
	display : block;
	padding-top: 5px;
	margin-top: -5px;
}
.languageWrapTop{
	float:right;
	margin-top:0px;
}
.languageWrap .label{
	padding-right:3px;
	font-size:15px;
}
.languageWrapTop .label{
	padding-right:3px;
	line-height: 5pt;
}
.w990px{
	width:990px !important;
}
.visibilityHide{
	visibility : hidden;
}
.adriftDreams .rich-table-sortable-header {
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.adriftDreams .top_qglobal_right{
	padding-top: 5px;
}
.bold{
	font-weight: bold !important;
}

.adriftDreams .rich-table td,.adriftDreams .rich-table th{
	*padding: 2px;
	white-space: normal !important;
}

.adriftDreams .rich-table td, .adriftDreams .rich-table img, .rich-table img {
		vertical-align: middle;
}

.adriftDreams h2{
	margin-top: 10px;
}
.autoWidth{
	width: auto !important;
}
.commandWrap{
	padding: 10px 0px;
}
.errorPageHdr{
	color: red;
	background:transparent url(../images/error.png) no-repeat scroll 0 0;
	line-height: 45px;
	padding-left: 65px;
	font-size: 32px;
}
.errorBody{
	padding-left: 65px;
	min-height: 150px;
	width: 800px;
}
.moreInfoErr{
	border-top: 1px solid #cccccc;
	padding-top: 15px;
	font-size: 12px;
	margin-left: 65px;
	width: 800px;
}
.moreInfoErr h2{
	color: #0B486B;
	font-size: 16px;
	margin: 0px 0px 5px;
}
.requiredPlaceHolder{
	width: 60px;
	float: right;
}
.bodyFontSize{
	font-size:12px !important;
}
.consentLabelStyle{
	font-size:12px !important;
	color: #827C7C !important;
	min-height: 15px;
}
.consentFormValueStyle{
	color: #443E3E !important;
	font-family: verdana;
    font-weight: bold;
}
button[disabled]:active, button[disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
input[type="submit"][disabled],
.linkDisabled {
  	color:#ACACAC !important;
	cursor:default !important;
}
.notFound{
	margin-top: 0px;
	color:#000000;
	font-size: 13px;
	text-align: left;
	display: block;
}
#customeViews-dropdown {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
	max-height: 300px;
    overflow: auto;
    width: 200px;
    display:none;
	padding:5px;
	line-height:18px;
}
.customeViewsDropdown {
    position: absolute;
    left : 150px;
    top: 25px;
    width: 212px;
    z-index: 1100;
}
* html div#customeViews-dropdown { 
   height: expression( this.scrollHeight > 300 ? "300px" : "auto"); /* sets max-height for IE */
}
.drpDwnContainer{
	color: #000000;
	font-size: 12px;
	display: block;
}
#customeViews-dropdown .drpDwnContainer .node{
	font-size: 12px; 
	border-bottom: 1px solid #EEEEEE; 
	background-color: #ffffff;
	font-size: 12px;
    font-weight: normal;
}
#customeViews-dropdown .node:hover{
	background-color: #E3FDBC;
}
.noOption,.level1{
	padding: 3px 5px; 
}
.level2{
	padding: 3px 5px 3px 20px; 
}
.level3{
	padding: 3px 5px 3px 35px; 
}
.adriftDreams #header-nav span.accountTreeHdrNodeDisabled {
	display:inline;
	font-size:11px;
	font-weight:normal;
	padding-left: 4px;
}
.adriftDreams #header-nav span.accountTreeChldNodeDisabled{
	display:inline;
	font-size:11px;
	font-weight:normal;
	color:#acacac !important;
}
.rich-tree-node-highlighted {
	text-decoration:none !important;
}
#globalAccountLbl a.accTreeLink{
	background:transparent url(../images/arrow-down-white.png) no-repeat scroll right center;
	padding-right:15px;
}
.closeButton{
	width:13px;
	height:13px;
	float:right;
	cursor: pointer;
}
/******************************************* For Safari 3 and Chrome***************************************************/
@media screen and (-webkit-min-device-pixel-ratio:0) {
   .adriftDreams #examineeTabPanel {
		top: -30px !important;
	}
	.grpExmineeList .col_grpExm_2{width:125px;text-align:left;}
	.grpExmineeList .col_grpExm_3{width:125px;text-align:left;}
	.grpExmineeList .col_grpExm_4{width:350px;text-align:left; vertical-align: top;}
	.grpExmineeList .col_grpExm_5{width:95px;text-align:left;vertical-align: top;}
}

/*******************************************for calendar input box***************************************************/

.formElementInput span .rich-calendar-input {
    border: 1px solid #D8D8D8;
    padding: 2px;
    margin-right: 5px;
}

#editExamineeForm .formElementInput span .rich-calendar-input {
    border: 1px solid #D8D8D8;
    padding: 2px;
    margin-right: 5px;
    width: 65px;
}

.examineeSearchInput{
	width: 220px !important;
}

.dateInput {
	width: 10% !important; 
	padding : 0 0 0 1% !important;
}

.width_2 {
	width: 2% !important; 
	padding : 0 !important; ;
}

.width_30 {
	width: 30% !important;
}

.width_18 {
	width: 18% !important;
}

.width_45 {
	width: 45% !important;
}

.width_15 {
	width: 15% !important;
}

.width_328 {
	width: 328px !important;
}

.dateCriteriaMenu{
	padding: 0 0 0 1% !important;
    width: 9% !important;
}

/*************************************** Button Fix for IE *********************************************************/
button, input[type="reset"], input[type="button"], input[type="submit"]  {
  width: auto;
  overflow: visible;
}
  
/******************************** inventory error styles *************************************/

.invErrorBody {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E6E6FA;
    border-bottom-color: #D8D8D8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #D8D8D8;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #D8D8D8;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #D8D8D8;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 14px;
    margin-left: 65px;
    min-height: 150px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 870px;
}


.invErrorPageHdr {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/confirm-error.gif");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #800517;
    font-size: 22px;
    line-height: 45px;
    padding-left: 65px;
}


.invMessage {
    -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #0B486B;
    font-family: Verdana;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    height: 20px;
    line-height: 15pt;
    padding-bottom: 5px;
}

.invMoreInfoErr {
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 12px;
    margin-left: 65px;
    padding-top: 15px;
    width: 890px;
}  
.invMoreInfoErr h2{
	color: #0B486B;
	font-size: 16px;
	margin: 0px 0px 5px;
}

.innerHeaderStyle{
	font-size: 16px;
	color: #0B486B;
	font-family: verdana;
	font-weight: bold;
}

.outerdataStyle{
	font-size: 14px;
	font-family: verdana;
}

.innerdataStyle{
	font-size: 12px;
	font-family: verdana;
	text-align: center;
	font-weight: bold;
}

.cggData{
	color: #307B7B;
    font-weight: bold;
}

.fieldLabels{
	color: #827C7C;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
}