/* GLOBAL 
a:link {
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	color:#1c8ab8;
	
	
}
a:visited {
	font-family:Verdana;
	font-weight:normal;
	color:#1c8ab8;
}
a:hover {
	font-family:Verdana;
	font-weight:normal;
	color:#1E6D8E;
	text-decoration:underline !important;
}
.pipe {
	margin:0px 4px;
}
h2 {
	color:#00006c;
}
h4 {
	color:#00006c;
}
label {
	font-size:12px;
}
span {
	font-size:12px;
}
img {
	border:none;
}
input {
	padding:2px;
	color:#000;
}
select {
	border: 1px solid #808080;
	color:#000;
}
*/


/* CONTENT */
/* LOGIN INDEX */


.command-button {
	background:#e4e4e4;
	border:1px solid #000;
	padding:15px 0px;
	text-align:center;
	font-size:12px;
	cursor:pointer;
}
.small-text {
	font-size:11px;
}
.tour {
	clear:both;
	float:left;
	margin:10px 0px 0px 15px;
	padding:10px 0px;
	width:115px;

}
.forums {
	float:left;
	margin:10px 0px 0px 15px;
	padding:3px 0px;
	width:115px;
}

/* HOME */
#home-wrapper {
	height:250px;
}
#assess-new-examinee {
	clear:both;
	float:left;
	margin:0px 10px 0px 18px;
	border:1px solid #ccc;
	width:270px;
	height:238px;
}
#assess-new-examinee .title-container {
	float:left;
	width:230px;
}
#assess-new-examinee h4 {
	padding:5px;
	color:#000;
	font-size:14px;	
}
#assessment {
	float:right;
	margin:10px 10px 0px 0px;
	padding:5px 0px;
	width:115px;
}
.home-form-container {
	float:left;
	padding:5px;
}
.home-form-container .form-elements {
	float:left;
	margin:0px 5px 0px 0px;
}
.home-form-container .form-elements label {
	font-size:10px;
}
.radio-label {
	display;block;
	float:left;
	font-size:12px !important;
	margin-right:10px;
}
.radio-button {
	display:block !important;
	float:left;
	margin:0px 2px -4px 0px;
}
/* SCAN PAPER ASSESSEMENTS */
#scan-paper-assessments {
	float:left;
	margin:0px 10px 0px 0px;	
	border:1px solid #ccc;
	width:224px;
	height:238px;
}
#scan-paper-assessments .title-container {
	float:left;
	width:194px;
}
#scan-paper-assessments h4 {
	padding:5px;
	color:#000;
	font-size:14px;
}
#scanning {
	float:right;
	margin:0px 10px 0px 0px;
	padding:15px 0px;
	width:115px;
}
/* HOME VIEW MY ASSESSMENTS */
#view-my-assessments {
	float:left;
	margin:0px 10px 0px 0px;	
	border:1px solid #ccc;
	width:224px;
	height:238px;
}
#view-my-assessments .title-container {
	float:left;
	width:194px;
}
#view-my-assessments h4 {
	padding:5px;
	color:#000;
	font-size:14px;
}
#view-my-assessments ul {
	list-style-position:outside;
	margin:0px 0px 40px 20px;
	font-size:10px;
	color:#00f;
}
#view-my-assessments li {
	line-height:1.5;
}
/* HOME LATEST NEWS */
#latest-news {
	float:left;
	background:#fff7d6;
	border:1px solid #ccc;
	width:196px;
	height:238px;
}
#latest-news .title-container {
	float:left;
	width:164px;
}
#latest-news h4 {
	padding:5px;
	color:#000;
	font-size:14px;
}
/* HOME DATAGRID */
#home-examinees {
	clear:both;
	float:left;
	margin:28px 10px 20px 18px;
	border:1px solid #ccc;
	padding:10px 16px 0px 6px;
	width:930px;

}
#home-examinees h4 {
	padding:0px 5px 5px 5px;
	color:#000;
	font-size:14px;
}

/* EXAMINEE DETAILS */
#examinee-details {
	clear:both;
	display:block;
	margin:20px 10px 0px 18px;
	width:600px;
}
#examinee-details .title-container {
	float:left;
	width:160px;
}
#examinee-details h4 {
	padding:5px;
	color:#000;
	font-size:14px;	
	width:400px !important;
}
.form-container {
	float:left;
	margin-right:20px;
	padding:5px;
}
.form-container .form-elements {
	float:left;
	margin:0px 5px 0px 0px;
}
.form-container .form-elements {
	display:block;
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	color:#777;
}
.form-container .label {
	float:none;
	clear:both;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	color:#555;
}
.examinee-form-container {
	clear:both;
	float:left;
	padding:5px;
}
.examinee-form-container .form-elements {
	float:left;
	margin:0px 5px 0px 0px;
}
.examinee-form-container .form-elements label {
	font-size:10px;
}
#examinee-assessment {
	float:right;
	margin:30px 10px 0px 0px;
	padding:10px 0px;
	width:115px;
}
#assess-this-examinee {
	position:relative;
	clear:both;
	float:left;
	margin:0px 10px 0px 18px;
	border:1px solid #ccc;
	width:600px;
	height:160px;
}
#assess-this-examinee .title-container {
	float:left;
	width:230px;
}
#assess-this-examinee h4 {
	padding:5px;
	color:#000;
	font-size:14px;	
}
#examinee-examinees {
	position:relative;
	clear:both;
	float:left;
	margin:28px 10px 20px 18px;
	border:1px solid #ccc;
	padding:10px 16px 0px 6px;
	width:580px;
	height:200px;
}
#examinee-examinees h4 , #edit-examinee-details h4{
	float:left;
	padding:0px 5px 10px 5px;
	color:#000;
	font-size:14px;
	width:400px;
}
#examinee-examinees .filter-container {
	margin:-10px -14px 0px 0px;
}


/* MANUAL SCORES */
#assessment-configuration {
	position:relative;
	clear:both;
	margin:0px 10px 0px 18px;
	border:1px solid #ccc;
	width:860px;
	height:50px;
}
#assessment-configuration .title-container {
	float:left;
	width:220px;
}
#assessment-configuration h4 {
	padding:5px;
	color:#000;
	font-size:14px;	
	width:350px !important;
}
#assessment-scores {
	position:relative;
	clear:both;
	margin:0px 10px 0px 18px;
	border:1px solid #ccc;
	width:860px;
	height:50px;
}
#assessment-scores .title-container {
	float:left;
	width:220px;
}
#assessment-scores  h4 {
	padding:5px;
	color:#000;
	font-size:14px;	
}
#assessment-behavior {
	position:relative;
	clear:both;
	margin:0px 10px 0px 18px;
	border:1px solid #ccc;
	width:860px;
	height:50px;
}
#assessment-behavior .title-container {
	float:left;
	width:320px;
}
#assessment-behavior h4 {
	padding:5px;
	color:#000;
	font-size:14px;	
}
#assessment-performance {
	position:relative;
	clear:both;
	margin:0px 10px 0px 18px;
	border:1px solid #ccc;
	width:860px;
	height:50px;
}
#assessment-performance .title-container {
	float:left;
	width:320px;
}
#assessment-performance h4 {
	padding:5px;
	color:#000;
	font-size:14px;	
}


.assessment-form-container {
	clear:both;
	float:left;
	margin:-5px 0px 0px 0px;
	padding:0px 5px 0px 5px;
}
.assessment-form-container .form-elements {
	float:left;
	margin:0px 5px 0px 0px;
}
.assessment-form-container .form-elements label {
	font-size:10px;
}
/* EDIT */
.edit-bar {
	clear:both;
	background:#d4d4d4;
	width:860px;
	height:28px;
}
#edit-each-section {
	margin:0px 10px 8px 18px;
	width:760px;
	height:16px;
}
#edit-each-section #edit {
	float:right;
	background:url(../images/edit.png) no-repeat;
	background-position:0px 0px;
	padding:0px 0px 0px 24px;
	font-size:12px;
}
/* EDITING */
#editing-each-section, #assessmsnt_warning_msg {
	background:#fff7d6;
	margin:0px 10px 8px 18px;
	border:1px solid #ccc;
	padding:4px 1px 2px 2px;
	width:758px;
	height:26px;
}
#editing-each-section #edit, #assessmsnt_warning_msg #edit {
	float:left;
	background:url(../images/edit.png) no-repeat;
	background-position:0px 0px;
	margin:2px;
	padding:0px 0px 0px 24px;
	width:21px;
	height:20px;
	font-size:12px;
}
#editing-each-section #edit-text, #assessmsnt_warning_msg #edit-text {
	margin:2px;
	width:200px;
	font-family:Verdana;
	font-weight:normal;
	font-size:12px;
	color:#000;
}
#editing-each-section #done, #assessmsnt_warning_msg #done {
	float:right;
	font-size:12px;
}

/* ALL-PURPOSE BUTTON */
div.basic-button .button {
	display:table;
	display:inline\0/;
	float:left;
	margin:0px 0px 0px 5px;
	background:transparent;
	cursor:pointer;
}
div.basic-button .button .left {
	display:table;
    display:inline\0/;
	float:left;
	background:url(../images/buttons/command-button-left.png) no-repeat;
	height:28px;
}

div.basic-button .button .saveleft {
	display:table;
    display:inline\0/;
	float:left;
	background:url(../images/buttons/savecommand-button-left.png) no-repeat;
	height:28px;
}


div.greyleft {
	display:table;
    display:inline\0/;
	float:left;
	background:url(../images/buttons/greycommand-button-left.png) no-repeat;
	height:28px;
}

div.basic-button .button .right {
	float:left;
	background:url(../images/buttons/command-button-right.png) no-repeat;
	width:10px;
	height:28px;
}

div.basic-button .button .saveright {
	float:left;
	background:url(../images/buttons/savecommand-button-right.png) no-repeat;
	width:10px;
	height:28px;
}

.disabled .saveleft {
	display:table;
    display:inline\0/;
	float:left;
	background:url(../images/buttons/command-button-left.png) no-repeat ! important;
	height:28px;
}

.disabled .saveright {
	float:left;
	background:url(../images/buttons/command-button-right.png) no-repeat ! important;
	width:10px;
	height:28px;
}

.disabled .button-text {
	color:#ACACAC !important;
	cursor:default !important;
	size: 20px;
}


div.greyright {
	float:left;
	background:url(../images/buttons/greycommand-button-right.png) no-repeat;
	width:10px;
	height:28px;
}

div.basic-button  .button .edit-icon {
	float:left;
	background:url(../images/edit.png) no-repeat;
	margin:3px 2px 0px 3px;
	width:21px;
	height:20px;
}
div.basic-button .button .button-text {
	float:left;
	margin:4px 3px 0px 5px;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color:#1f6b8b;
}


/* END ALL-PURPOSE BUTTON */


/* GENERAL */
#content-header {
	float:left;
	margin:20px;
}
/* MACRO-TABS */
ul#macro-tabs {
	text-align: left;
	margin: 1em 20px 1em 20px;
	font: bold 11px verdana, Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
	list-style-type: none;
	padding: 3px 10px 3px 10px;
}
ul#macro-tabs li {
	display: inline;
}
ul#macro-tab-1 li.macro-tab-1, ul#macro-tab-2 li.macro-tab-2, ul#macro-tab-3 li.macro-tab-3 {
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
ul#macro-tab-1 li.macro-tab-1, ul#macro-tab-2 li.macro-tab-2, ul#macro-tab-3 li.macro-tab-3 {
	background-color: #ccc;
	color: #000;
	position: relative;
	top: 1px;
	padding-top: 4px;
}
ul#macro-tabs a {
	text-decoration:none;
	color:#000;
}
ul#macro-tabs li  {
	padding: 3px 4px;
	border: 1px solid #ccc;
	background-color: #ddd;
	color: #666;
	margin-right: 0px;
	text-decoration: none;
	border-bottom: none;
}
ul#macro-tabs a:hover {
	//background: #fff;
}
.tab-active {
	background-color: #ccc;
	color: #000;
	position: relative;
	top: 1px;
	padding:4px 0px 1px 0px;
	border-bottom:1px solid #ccc;
}

/* MICRO-TABS */
ul#micro-tabs {
	text-align: left;
	margin: 1em 20px 1em 40px;
	font: bold 11px verdana, Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
	list-style-type: none;
	padding: 3px 0px 3px 0px;
}
ul#micro-tabs li {
	margin: 0px -5px;
	display: inline;
}
ul#micro-tab-1 li.micro-tab-1, ul#micro-tab-2 li.micro-tab-2, ul#micro-tab-3 li.micro-tab-3 {
	border-bottom: 1px solid #ccc;
	background:url('../images/micro-tab-active.png');
}
ul#micro-tab-1 li.micro-tab-1, ul#micro-tab-2 li.micro-tab-2, ul#micro-tab-3 li.micro-tab-3 {
	background:url('../images/micro-tab-active.png');
	color: #000;
	position: relative;
	padding-top: 4px;
}
ul#micro-tabs a {
	text-decoration:none;
	color:#fff;
}
ul#micro-tabs li  {
	padding: 3px 14px;
	border: 1px solid #ccc;
	background:url('../images/micro-tab.png');
	color: #fff;
	margin-right: 0px;
	text-decoration: none;
}
ul#micro-tabs a:hover {
	//background: #fff;
}
#micro-tab-active {
	background:url(../images/micro-tab-active.png) !important;
	position: relative;
	padding:4px 0px 1px 0px;
	border-bottom:1px solid #000;
}

#page-title {
	font-size:16px;
	font-weight:bold;
	color:#00006C;
}
#page-title #examinee-name {
	font-size:16px;
	font-weight:bold;
	color:#00006c;
}
#return-link {
	font-size:11px;
	margin-bottom:10px;
}
#configure-link {
	float:right;
	margin:10px 20px 10px 10px;
	font-size:12px;
}
/*.required-text {
	background:#ffa;
	margin:12px 0px 0px 10px;
	width:100%;
	height:0px;
	font-size:11px;
	text-align:right;
}
.required-text .asterisk {
	float:right;
	margin:2px 2px 0px 0px;
	color:#f00;
}
.required-text .required {
	float:right;
	margin-top:2px;
	color:#000;
}
*/.required {
	color:#f00;
}
.filter-container {
	float:right;
	padding:8px;
	width:12px;
	height:11px;
}
.filter {
	float:left;
	background:url(../images/filter-sprite.gif) no-repeat;
	background-position:0px 0px;
	width:12px;
	height:11px;
	cursor:pointer;
}
.filter-button {
	float:left;
	margin:3px 2px 0px 2px;
}
.filter-link {
	float:left;
}
.filter-sort {
	float:left;
	margin:5px 0px 0px 2px;
}
.save-cancel {
	position:absolute;
	top:16px;
	left:790px;
	width:9px;
	height:44px;
	margin:0px 10px 0px 0px;
	white-space:nowrap;
	z-index:100;
	font-size:9px;
}
.save-cancel-pipe {
	padding:0px 3px;
	font-family:Verdana;
	font-size:10px;
	font-weight:normal;
	color:#777;
}
a.save-cancel-link span {
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	color:#1E6D8E;
}
a.save-cancel-link:link {
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	color:#1E6D8E;
}
a.save-cancel-link:visited {
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	color:#1E6D8E;
}
a.save-cancel-link:hover {
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;
	color:#1E6D8E;
}
/* SAVE / EDIT */
.save-edit {
	float:right;
	margin:5px 2px 0px 0px;
	white-space:nowrap;
	font-size:12px;
}
.save-edit a {
	font-weight:bold;
	background:#fff;
	border:1px solid #555;
	padding:1px 8px;
	font-family:Verdana;
	font-size:12px;
	text-decoration:none;
	color:#000;
}
.save-edit a.disabled {
	font-weight:bold;
	background:#efefef;
	border:1px solid #999;
	padding:1px 8px;
	font-family:Verdana;
	font-size:12px;
	text-decoration:none;
	color:#999;
}
/* END SAVE / EDIT */
/* EDIT BUTTON */
.edit-button-left {
	float:right;
	margin:5px 2px 0px 0px;
	white-space:nowrap;
	font-size:12px;
}.edit-button-left a {
	font-weight:bold;
	background:url(../images/arrow-btn-left.gif) no-repeat #fff;
	background-position:center left;
	border:1px solid #555;
	padding:0px 8px 0px 18px;
	font-family:Verdana;
	font-size:12px;
	text-decoration:none;
	color:#000;
}
.edit-button-right {
	float:right;
	margin:5px 2px 0px 0px;
	white-space:nowrap;
	font-size:12px;
}
.edit-button-right a {
	font-weight:bold;
	background:url(../images/arrow-btn-right.gif) no-repeat #fff;
	background-position:center right;
	border:1px solid #555;
	padding:0px 18px 0px 8px;
	font-family:Verdana;
	font-size:12px;
	text-decoration:none;
	color:#000;
}
/* END EDIT BUTTON */
/* CHEVRON */
.chevron {
	float:right;
	background:url(../images/chevron.png) no-repeat;
	background-position:0px 0px;
	margin:5px 8px 0px 0px;
	width:18px;
	height:18px;
	white-space:nowrap;
	font-size:12px;
	cursor:pointer;
}
.chevron-close {
	float:right;
	background:url(../images/chevron_close.png) no-repeat;
	background-position:0px 0px;
	margin:5px 8px 0px 0px;
	width:18px;
	height:18px;
	white-space:nowrap;
	font-size:12px;
	cursor:pointer;
}

/* END CHEVRON */
.input-small {
	marign:0px 5px 0px 0px;
	width:120px;
	font-family:Verdana;
	font-size:12px;
}
.input-two {
	margin:0px 5px 0px 0px;
	width:16px;
}
.input-four {
	margin:0px 5px 0px 0px;
	width:32px;
}

.none {
	display:none;
}
.nowrap {
	white-space:nowrap;
}
.box-list {
	list-style-position:outside;
		margin:0px 0px 40px 20px;
	font-size:10px;
	color:#00f;
}
.box-list li {
	line-height:1.5;
}
.blackh4 {
	padding:5px;
	color:#000;
	font-size:14px;
}
.float-left {
	float:left;
}
.hidden {
	visibility:hidden;
}
h5.subheading {
	color:#777;
}
.scrolling-datagrid  td{
	font-family:Verdana;
	font-size:11px !important;
	color:#555;
}
/* END CONTENT */

.activeBHHeader {
	font-size:12px;
	text-align:center;
	border-bottom:0px;
	border-right:1px #000000 solid;
	cursor:pointer;
	width:114px;
}
.inactiveBHHeader {
	font-size:12px;
	text-align:center;
	border-bottom:1px #000000 solid;
	border-right:1px #000000 solid;
	background-color:#cccccc;
	cursor:pointer;
	width:114px;
}
.BHCell {
	
	
}
.BHbuttonActive {
	display:table;
    display:inline\0/;
	background-color:#035B81;
	float:left;
	cursor:default;
}
.BHbuttonActive h5 {
	color:#ffffff !important;
	text-align:center;
}
.BHbuttonActiveImage {
	float:left;
	margin-left:-45px;
	margin-top:23px;
}
.BHbuttonInactive {
	width:80px;
	float:left;
	cursor:pointer;
	border:1px #cccccc solid;
	border-bottom:0px;
}
.BHbuttonInactive h5 {
	color:#1F6B8B !important;
	text-align:center;
	font-weight:normal !important;
}






.microtab {
	height:29px;
}
.microtab-button-active {
	display:block;
	float:left;
	background:url(../images/buttons/gloablActiveTab_left.png) no-repeat;
	height:28px;
	cursor:pointer;
}
.microtab-button-active h5 {
	background:url(../images/buttons/gloablActiveTab_right2.png) top right no-repeat;
	margin:0px;
	padding:10px 16px 2px 16px;
	color:#ffffff !important;
	text-align:center;
	font-size:12px;
}
.microtab-button-active .microtab-image {
	margin:-10px 0px 0px 0px;
	height:0px;
	text-align:center;
	display:none;
}
.microtab-button-inactive {
	display:block;
	float:left;
	background:url(../images/buttons/gloablTab_left.png) no-repeat;
	height:28px;
	cursor:pointer;
	border-bottom:0px;
	
}
.microtab-button-inactive h5 {
	margin:0px;
	padding:10px 16px 2px 16px;
	color:#1F6B8B !important;
	text-align:center;
	background:url(../images/buttons/gloablTab_right2.png) top right no-repeat;
	font-size:12px;
}
.microtab-button-inactive .microtab-image {
	display:none;
	margin:-10px 0px 0px 0px;
	height:0px;
	text-align:center;
}

/* FORM BOX */
.form-box {
	display:table;
    display:inline\0/;
	background:#fff;
	margin:0px 0px 10px 0px;
	padding:0px 8px;
	border:1px solid #ccc;
}
.form-box .form-box-top {
	background:#d4d4d4;
	margin:0px -8px 10px -8px;
	padding:0px;
	height:28px;
}
.form-box .form-box-top .form-box-title {
	display:table;
    display:inline\0/;
	float:left;
	padding:4px 0px 0px 10px;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	color:#000;
}
.form-box .form-box-bottom {
	clear:both;
	background:#d4d4d4;
	margin:10px -8px 0px -8px;
	padding:0px;
	height:28px;
}
/* END FORM BOX */

/* PROGRESS BAR */
.progress {
	position:absolute;
	top:38px;
	left:300px;
}
.progress-bar {
	float:left;
	text-align:center;
	cursor:pointer;
}
.progress-bar .progress-bar-graphic-complete {
	background:url(../images/progress_bar/progress-bar-complete.png) no-repeat;
	background-position:center center;
	height:10px;
}
.progress-bar .progress-bar-graphic-current {
	background:url(../images/progress_bar/progress-bar-current.png) no-repeat;
	background-position:center center;
	height:10px;
}
.progress-bar .progress-bar-graphic-incomplete {
	background:url(../images/progress_bar/progress-bar-incomplete.png) no-repeat;
	background-position:center center;
	height:10px;
}
.progress-bar .progress-bar-number {
	padding:4px 0px 0px 0px;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	color:#000;
}
.progress-bar .progress-bar-text {
	padding:0px 6px;
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	color:#000;
}
/* END PROGRESS BAR */

#tooltipDiv{
	display: none; 
	position: absolute; 
	z-index: 1010;
	top: 0px; 
	left:0px;
}

#tooltipDiv SPAN{
	font-size:11px;
}

#tooltipDiv SPAN LI{
	margin-left:20px;
}

#tooltipDivLeft{
	height:100px; 
	width:132px; 
	padding-left:26px;
	text-align:left;
	font-size:11px;
	padding-top:5px;
	background:url(../images/tooltip.png) no-repeat;
	float:left;
}

#tooltipDivRight{
	height:100px; 
	width:12px; 
	float:right;
	background:url(../images/tooltipright.png) no-repeat;
}

.forgotPasswordLink A
{
	font-size:10px;	
	position:relative;
	top:-11px;
	left:4px;
}

div.filter-button-group {
	margin-top:3px;
}

a.filter-button img{
	vertical-align:middle;
	height:13px;
}

a.filter-button img {
	vertical-align:middle;
	text-decoration:none;
}

a.filter-button {
	font-size:9px;
	color:#1F6B8B;
	background:#e9f0f6;
	padding:2px 5px;
	margin-right:3px;
	margin-bottom:-5px;
	white-space:nowrap;
	border:1px solid #D9D9D9;
	text-decoration:none;
}

#searchtoggle:hover , #customViews:hover {
	text-decoration:none !important;
}

a.filter-button Span{
	font-size:10px;
}

#searchFieldsGrid
{
	border:1px #CCC solid; 
	width:94%; 
	background:#FFF; 
	padding:5px;
	margin-top:1px;
	margin-bottom:22px;
}

#saveExamineeDetailsDiv a:link, #saveExamineeDetailsDiv a:visited, #saveExamineeDetailsDiv a:hover, 
#saveExamineeAssessmentDetailsDiv a:link, #saveExamineeAssessmentDetailsDiv a:visited, #saveExamineeAssessmentDetailsDiv a:hover {
	font-size:11px !important;
}

#GiveNewAssessmentDiv SPAN
{
	cursor:default;
}

a.blue-button {
	background:transparent url(../images/bg-blue-button.gif) repeat;
	border:2px solid #A8A697;
	color:white;
	display:inline;
	font-weight:bold;
	padding:3px 20px;
	text-align:center;
	text-decoration:none;
	white-space:nowrap;
}

a.blue-button:hover {
	text-decoration:none !important;
}


div.separator {
	border-bottom:1px solid #AEAAB0;
	margin:13px 0;
	width:100%;
}

.readOnlyAssessmentField
{
	color:#000 !important;
	font-weight:bold;
}


.pencilDiv
{
	padding-left:20px;
}

#displayedCoulmnsDiv, #availableCoulmnsDiv
{
	background:#FFF;
	border:1px #cccccc solid;
	float:left;
	width:170px;
	overflow:auto;
	height:115px;
}

#availableCoulmnsDiv SPAN
{
	padding:5px;
	padding-bottom:0px;
	display:block;
}

#displayedCoulmnsDiv SPAN
{
	padding-top:2px;
	padding-right:5px;
	padding-bottom:0px;
	display:block;
	float:right;
	width:165px;
}

#displayedCoulmnsDiv SPAN DIV
{
	float:left;
	padding-left:5px;
	width:40px;
	padding-top:2px;
}

#displayedCoulmnsDiv SPAN DIV IMG
{
	cursor:pointer;
}

#searchAssessmentColTbl #groupTR
{
	display:none;
	background-color:#F4FCFF !important;
}

#ReportConfigurationSRDiv
{
	padding-left:10px;
	padding-top:10px;
	height:315px;
	max-height:315px;
	overflow:auto;
	background-color:#F4FCFF
}

.reportForms
{
	width:183px;
	height:80px;
	overflow:auto;
	border:1px #CCC solid;
	background:#fff;
}

.reportForms TD
{
	font-size:12px;
	padding-left:5px;
	padding-top:3px;
}

.login-error-message{
font-size:12px;
color:red;
}	
