

#container {
	height: 130px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 640px;
    z-index: 0;
}

#frame {
	position:absolute;
	z-index:0;
	width:739px;
	height:341px;
	top:-3px;
	left:-80px;
}

#example {
	width:600px;
	height:120px;
	position:relative;
}

/*
	Slideshow style
*/

#slides {
	position:absolute;
	/*top:15px;
	left:4px;*/
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	If height not specified height will be set by the slide content
	Set to display none, prevents content flash
*/

.slides_container {
	width:625px;
	height:110px;
	overflow-y: auto !important;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	Offeset for the 20px of padding
	If height not specified height will be set by the slide content
	Set to display block
*/

#slides .slide {
	display: block;
    height: 90px;
    text-align: justify;
    width: 605px;
}

/*
	Next/prev buttons
*/
#slides .next,#slides .prev {
	position:absolute;
	display:block;
	z-index:101;
	top: 107px;
}

#slides .next {
	left: 335px;
}

#slides .prev {
	left: 240px;
}

#slides ul{
position:relative;
border:5px;
}
/*
	Pagination
*/

.pagination {
	margin:0 auto;
	width:100px;
	position:relative;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*
	Type and anchors
*/

a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}

h1 {
	font-size:2em;
}

p {
	font-size:1.3em;
}

#slides .link {
	display:block;
	margin-top:10px;
	font-weight:800;
}


