@charset "UTF-8";
/* CSS Document */
/*
 * Style tweaks
 * --------------------------------------------------
 */

*html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  position:relative;
  font-family: 'Roboto', sans-serif;
  background: #398684;
}
.loginH1 {
	margin-top: 0px;
}

.mobileH {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	margin: 60px 0 20px;
}
.mobileH3 {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	margin: 15px 0;
	text-align: left;
}
.topBlue {
	height: 15px;
	background-color: #0b486b;  
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #1c4d4c;
  color: #fff;
}
.navbar-nav {
  background-color: #276967;
}

.blueLink {
	color: #337ab7 !important;
}

.QgNav {
	
	margin-top: 42px;
	margin-bottom: -52px;
}

.navbar-inverse {
	background-color: #398684;
	border:none;
}

.navbar-brand {
  float: left;
  font-size: 18px;
  height: 50px;
  line-height: 20px;
  padding: 2px 10px;
}

.nav {

}

.navbar-inverse .navbar-toggle {
	border: none; 
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.homeLogo {
	text-align: center;
}

.bodyContent {
	padding-top: 70px;
}

.well {
  background-color: #f6f6f7;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}
.loginLabel {
	color: #999;
	font-weight: 500;
}

.alert-news {
    background-color: #ffffe2;
    border-color: #d6e9c6;
    color: #3c763d;
}


.loginBottom {
	color: #fff;
	padding: 15px;
	margin-bottom: 15px;
	font-size: 12px;
}
.assessmentGroup {
	margin: 0 0 60px 0;
}

.logoLine {
	background: #0b486b;
	padding: 10px 0 13px;
	margin-bottom: 15px;
}
.strapLine {
	text-align: right;
}
#footerLinks {
	list-style:none;
	padding: 0px;
}
#footerLinks li {
	display: inline-block;
	margin: 15px 10px 15px 0px;
}
#footerLinks a {
	color: #fff;
	font-weight: bold;
}

.btn-sq-lg {
  width: 150px !important;
  height: 120px !important;
  margin: 15px !important;
  padding-top: 30px;
  font-family: 'Lato', sans-serif !important;
  font-weight: 200;
  font-size: 18px;
  box-shadow: 5px 5px 12px #033;
  white-space: normal;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 16px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

.btn-ghost {
    background: none;
    border-color: #fff;
    color: #fff;
}

.btn-ghost:hover {
	background-color: #fff;
	color: #666;
}

.takeMeAway {
	padding: 15px 0 30px;
}
.loginMessaging {
	font-size: 18px;
	color: #fff;
	margin: 0 0 15px;
	display: block;
}

/*

h1 {
	font-family: 'Roboto', sans-serif;
	color: #656565;
	font-weight: 100;
}

.definitionLink {
	margin: 15px 0;
}

footer {
  padding: 30px 0;
}



.navbar {
  min-height: 75px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns 
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns 
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns 
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns 
  }

  .sidebar-offcanvas {
    position: relative;
    top: 0;
    width: 50%; /* 6 columns 
  }
  #sidebar .col-xs-6 {
	  display:none;
}*/

.messaging {
	font-size: 18px;
	color: #fff;
	margin: 0 0 15px;
	display: block;
}

/*
 * Style tweaks for password
 * --------------------------------------------------
 */
 div.basic-button-login .button-login {
	display:table;
	float:left;
	margin:0px 0px 0px 5px;
	background:transparent;
	cursor:pointer;
}

div .basic-button-login .button-login .saveleft-login {
	display:table;
	float:left;
	/*background:url(../images/buttons/savecommand-button-left.png) no-repeat;*/
	background:url(../images/buttons/savecommand-button-left.png) no-repeat;
	height:28px;
}
div.basic-button .button .dropdownButton{
	float:left;
	width:14px;
	height:28px;
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	margin-right:5px;
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	line-height: 16pt;
	/* theme properties */
	color:#437001;
	background:transparent url(../images/buttons/button_dropdown.gif) no-repeat scroll 0 0;
	/* theme properties ends*/
}
div.basic-button .button .newdropdownButton {
	
 background: url("../images/dropdown_image.bmp") no-repeat scroll right center transparent;
    border-color: #D8D8D8 #D8D8D8 #D8D8D8 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 2px 1px 0;
    color: #D8D8D8;
    float: left;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    line-height: 16pt;
    margin-right: 2px;
    width: 17px;
	
	}
	
	/* ALL-PURPOSE BUTTON */
div.basic-button .button {

	float:left;
	margin:0 0 0 0;
	cursor:pointer;	
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;	
	display:block;
	cursor : pointer;
}
div .basic-button .button .left {
	display: block;
	float:left;	
	height:28px;
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	line-height: 16pt;	
	cursor : pointer;
	padding : 2px 5px 5px 10px;
		
	/* theme properties */
	color:#437001;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/buttons/command-button-left.png) no-repeat scroll 0 0;
	/* theme properties ends*/
}
div .basic-button .button .saveleft {
	display: block;
	display:inline\0/;
	float:left;
	height:28px;	
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	cursor : pointer;
	line-height: 16pt;	
	padding : 2px 5px 5px 10px;
	/* theme properties */
	color:#437001;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../../images/buttons/command-button-left.png) no-repeat scroll 0 0;
	/* theme properties ends*/
}

div.basic-button .button .right {
	float:left;
	
	width:10px;
	height:28px;
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	line-height: 16pt;
	
		/* theme properties */
		color:#437001;
		-moz-background-clip:border;
		-moz-background-inline-policy:continuous;
		-moz-background-origin:padding;
		background:transparent url(../images/buttons/command-button-right.png) no-repeat scroll 0 0;
		/* theme properties ends*/
}
div.basic-button .button .saveright {
	float:left;
	
	width:10px;
	height:28px;
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	color:#1f6b8b;
	line-height: 16pt;
	
	/* theme properties */
	-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../../images/buttons/command-button-right.png) no-repeat scroll 0 0;
/* theme properties ends*/
}
div.basic-button .button .saverightLogin {
	float:left;
	
	width:10px;
	height:28px;
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	color:#1f6b8b;
	line-height: 16pt;
	margin-right:-5px;
	/* theme properties */
	-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/buttons/command-button-right.png) no-repeat scroll 0 0;
/* theme properties ends*/
}
div.basic-button  .button .edit-icon {
	float:left;
	background:url(../images/edit.png) no-repeat;
	margin:3px 2px 0px 3px;
	width:21px;
	height:20px;
}
div.basic-button .button .button-text {
	float:left;
	margin:4px 3px 0px 5px;
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#1f6b8b;
}
div .basic-buttonForPopUp .button .saveleft {
	display: block;
	display:inline\0/;
	float:left;
	height:28px;	
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	cursor : pointer;
	line-height: 16pt;	
	padding : 2px 5px 5px 10px;
        margin-top: 143px;
        
	/* theme properties */
	color:#437001;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/buttons/command-button-left.png) no-repeat 

scroll 0 0;
	/* theme properties ends*/
}
div .basic-buttonForPopUp .button .saveright {
	float:left;
	
	width:10px;
	height:28px;
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	color:#1f6b8b;
	line-height: 16pt;
         margin-top: 143px;
         
	
	/* theme properties */
	-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(../images/buttons/command-button-right.png) no-repeat scroll 0 

0;
/* theme properties ends*/
}
div .basic-buttonForPopUp .button .right {
	float:left;
	
	width:10px;
	height:28px;
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	line-height: 16pt;
         margin-top: 143px;
	
		/* theme properties */
		color:#437001;
		-moz-background-clip:border;
		-moz-background-inline-policy:continuous;
		-moz-background-origin:padding;
		background:transparent url(../images/buttons/command-button-right.png) 

no-repeat scroll 0 0;
		/* theme properties ends*/
}
div .basic-buttonForPopUp .button .left {
	display: block;
	float:left;	
	height:28px;
	border: 0px;
	/*margin:4px 3px 0px 5px;*/
	font-family: verdana;
	font-size:12px;
	font-weight:bold;
	line-height: 16pt;	
	cursor : pointer;
	padding : 2px 5px 5px 10px;
        margin-top: 143px;
         margin-left: 9px;
		
	/* theme properties */
	color:#437001;
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../images/buttons/command-button-left.png) no-repeat 

scroll 0 0;
	/* theme properties ends*/
}
div .basic-buttonForPopUp{
 margin-top:-122px;
}
.tertiaryTabsButtons {
	height: 30px;
	display: block;
	width: 100%;
	margin: 10px 0 0 0px;
	padding: 0 0 0 0px;
	float: left;
}
.fullWidthWrapper {
	width: 100% !important;
	text-align: center;
}
.displaySettingWrapper {
	display: inline-block;
	*display: inline; /* IE*/
	*zoom: 1; /* IE*/;
}
/************************************** For progress indicator *******************************************/
.progressIndicator .rich-mpnl-shadow {
	display: none !important;
}

.progressIndicator .rich-mpnl-content {
	background: transparent !important;
	border: 0px none !important;
}

.progressIndicator .rich-mpnl-mask-div-opaque {
	opacity: 0.6 !important;
	background-color: #ffffff;
}

#alertMessageBox ul li
{
list-style-type: none;
list-style-image: none;
}